@import vars
@import fonts
@import libs
@import media

::placeholder
	color: rgba(0, 0, 0, 0.5)

::selection
	background-color: $accent
	color: #fff

ul
	padding: 0

li
	list-style: none
img
	width: 100%

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	color: $text

.container
	padding:
	right: $gutter/2
	left: $gutter/2
	margin:
	left: auto
	right: auto
	+media-breakpoint-up(xl)
		max-width: 1196px
.content
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	font-size: 18px
	line-height: 22px
	padding-top: 60px
	padding-bottom: 50px
.row
	display: flex
	align-items: flex-end
	justify-content: space-between
	margin: 0
	.title
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		font-size: 48px
		line-height: 59px
		position: relative
		+media-breakpoint-up(md)
			font-size: 42px
			line-height: 52px
		&:before
			content: ''
			position: absolute
			left: 0
			border-bottom: 4px solid $accent
			bottom: -2px
			width: 132px

	.link
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		font-size: 18px
		line-height: 22px
		color: $accent
		padding-bottom: 15px
header
	.container
		position: relative
		.header__top
			display: flex
			justify-content: space-between
			align-items: center
			padding: 30px 0 14px
			+media-breakpoint-down(lg)
				align-items: flex-start
			.header__logo
				img
				+media-breakpoint-down(md)
					max-width: 310px
			.header__languages
				position: relative
				+media-breakpoint-down(md)
					margin-right: 55px
				+media-breakpoint-down(xs)
					margin-right: 46px
				.header__list
					display: flex
					justify-content: space-between
					align-items: center
					background: $accent
					border-radius: 10px
					margin: 0
					.header__item
						padding: 8px 0
						.header__btn
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 14px
							line-height: 17px
							color: #fff
							background: $accent
							border: none
							padding: 5px 38px
							display: block
							+media-breakpoint-down(md)
								padding: 0px 20px
							+media-breakpoint-down(xs)
								padding: 0px 5px
								line-height: 29px
							&.search__btn
								+media-breakpoint-down(xs)
									padding: 0 12px
						&:nth-child(even)
							position: relative
							&:before
								content: ''
								position: absolute
								right: 0
								border-right: 2px solid #fff
								bottom: 6px
								height: 32px
							&:after
								content: ''
								position: absolute
								left: 0
								border-right: 2px solid #fff
								bottom: 6px
								height: 32px
				.search__formwrap
					position: absolute
					bottom: -50px
					left: 0
					border-radius: 10px
					display: none
					z-index: 99
					+media-breakpoint-down(xs)
						left: -65%
					.search__container
						width: 100%
						.search__form
							.search__input
								font-family: 'Montserrat', sans-serif
								font-weight: 400
								font-size: 14px
								line-height: 19px
								color: rgba(0, 0, 0, 0.5)
								padding: 6px
								border-radius: 3px
								border: 1px solid #c4c4c4
					&.is-active
						display: block
		.burger-menu
			position: absolute
			top: 90px
			right: 10px
			+media-breakpoint-down(md)
				top: 30px
			.burger-menu__button
				display: none
				position: relative
				width: 45px
				height: 45px
				border-radius: 10px
				background: $accent
				cursor: pointer
				z-index: 1000
				+media-breakpoint-down(lg)
					display: block
				.burger-menu__lines
					position: absolute
					width: 30px
					height: 3px
					top: 47%
					right: 50%
					transform: translate(50%)
					background-color: #fff
					&::after
						content: ""
						position: absolute
						width: 30px
						height: 3px
						background-color: #fff
						top: -12px
					&::before
						content: ""
						position: absolute
						width: 30px
						height: 3px
						background-color: #fff
						top: 12px
			&.is-active
				.burger-menu__lines
					background-color: transparent
					&:before
						top: 0
						transform: rotate(45deg)
					&:after
						top: 0
						transform: rotate(-45deg)
		.header__nav
			position: relative
			z-index: 30
			border-bottom: 4px solid $accent
			&.homepages
				border-bottom: none
			.header__list-nav
				display: flex
				justify-content: space-between
				align-items: center
				&.is-active
					height: auto
					display: flex
					transition: .3s
					z-index: 1000
				+media-breakpoint-down(lg)
					flex-direction: column
					position: absolute
					top: 4px
					left: 0
					right: 0
					width: 100%
					background-color: #f2f2f2
					border-bottom: 4px solid $accent
					padding: 30px 0
					height: 0
					display: none
				.header__item
					margin: 20px 0
					+media-breakpoint-down(lg)
						margin: 5px 0
					.header__link
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 14px
						line-height: 17px
						text-align: center
						color: $text
						text-decoration: none
						padding: 0 20px
						transition: .3s
						&.is-active
							color: $accent
							transition: .3s
						&:hover
							color: $accent
							transition: .3s
							

.carousel__baner
	.carousel
		.carousel-indicators
			margin: 0 0 20px
			left: 7.5%
			right: auto
			bottom: 0
			top: auto
			li
				width: 25px
				height: 25px
				margin: 5px
				cursor: pointer
				background-color: #fff
				border: 5px solid #fff
				border-radius: 25px
				opacity: 1
			li.active
				background-color: $accent
		.carousel-inner
			.carousel-item
				.carousel-img
					width: 100%
					object-fit: cover
					+media-breakpoint-down(md)
						min-height: 450px
				.container
					position: relative
					.carousel-caption
						max-width: 500px
						background: #fff
						border-radius: 20px
						box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
						text-align: left
						padding: 25px
						left: auto
						right: 0
						bottom: 20px
						+media-breakpoint-down(md)
							bottom: 70px
							right: auto
						.carousel-title
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 30px
							line-height: 37px
							color: $text
						.carousel-text
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 18px
							line-height: 22px
							color: $text
						.carousel-link
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 18px
							line-height: 22px
							color: $accent
.newshome
	padding: 100px 0 42px

.news
	margin: 50px 0 0
	.news__list
		display: grid
		grid-gap: $gutter / 2
		-ms-grid-columns: 1fr 1fr 1fr
		grid-template-columns: repeat(3, 1fr)
		+media-breakpoint-down(lg)
			-ms-grid-columns: 1fr 1fr
			grid-template-columns: repeat(2, 1fr)
		+media-breakpoint-down(sm)
			-ms-grid-columns: 1fr
			grid-template-columns: repeat(1, 1fr)
		.news__item
			.news__link
				position: relative
				display: block
				overflow: hidden
				.news__text
					position: absolute
					bottom: 0
					left: 0
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 16px
					line-height: 20px
					color: #fff
					padding: 12px 15px
	.news__pagination
		display: flex
		align-items: center
		justify-content: center
		padding-top: 15px
		padding-bottom: 30px
		margin-bottom: 0
		.news__item
			font-family: 'Montserrat', sans-serif
			font-weight: 700
			font-size: 14px
			line-height: 17px
			color: $text
			padding: 0 15px
			&.active
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 14px
				line-height: 17px
				color: $accent
.newspage
	padding: 96px 0 0
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat
	+media-breakpoint-down(sm)
		padding: 66px 0 0
	.news
		.news__list
			.news__item
				.news__link
					.news__text
						font-size: 14px
						line-height: 17px

.eventshome
	padding: 50px 0 135px
	background-image: url(../img/_src/evntshomebg.png)
	background-size: cover
	background-position: left 0% center
	background-repeat: no-repeat
	+media-breakpoint-down(lg)
		padding: 50px 0 50px

.events
	.events__textlist
		display: grid
		-ms-grid-columns: 1fr 1fr 1fr 1fr
		grid-template-columns: repeat(4, 1fr)
		grid-gap: $gutter
		text-align: center
		padding-top: 50px
		margin-bottom: 50px
		+media-breakpoint-down(lg)
			-ms-grid-columns: 1fr 1fr
			grid-template-columns: repeat(2, 1fr)
		+media-breakpoint-down(sm)
			-ms-grid-columns: 1fr
			grid-template-columns: 1fr
		.events__textitem
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
			border-radius: 10px
			background-color: #fff
			.events__textlink
				position: relative
				overflow: hidden
				display: flex
				justify-content: center
				align-items: center
				min-height: 160px
				max-width: 284px
				margin: 0 auto
				text-decoration: none
				.events__textcontent
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 18px
					line-height: 22px
					text-align: center
					color: $text
	.events__list
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: $gutter
		+media-breakpoint-down(md)
			grid-template-columns: repeat(2, 1fr)
		+media-breakpoint-down(sm)
			grid-template-columns: 1fr
		.events__item
			.events__link
				overflow: hidden
				position: relative
				display: flex
				justify-content: center
				align-items: center
				.events__text
					position: absolute
					padding: 20px
					bottom: 0
					left: 0
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 14px
					line-height: 17px
					text-align: center
					color: #fff
.infoplatform
	background-image: url(../img/_src/infoplace.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	margin-bottom: 35px
	.container
		min-height: 550px
		position: relative
		.infoplatform__caption
			max-width: 500px
			position: absolute
			bottom: 20px
			right: 10px
			background: #fff
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
			border-radius: 20px
			padding: 25px
			+media-breakpoint-down(sm)
				right: 5px
				left: 5px
			.infoplatform__title
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 36px
				line-height: 44px
			.infoplatform__text
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 18px
				line-height: 22px
			.infoplatform__link
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 18px
				line-height: 22px
				color: $accent

.gallery
	background-image: url(../img/_src/galleryhomebg.png)
	background-size: cover
	background-position: top
	background-repeat: no-repeat
	padding: 65px 0
	+media-breakpoint-down(sm)
		padding: 25px 0

.gallerypage
	background-image: url(../img/_src/historybg.png)
	background-size: contain
	background-position: top left
	background-repeat: repeat-y
	padding: 96px 0 50px
	+media-breakpoint-down(sm)
		padding-top: 50px

.container
	.title
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		font-size: 48px
		line-height: 59px
		position: relative
		+media-breakpoint-down(sm)
			font-size: 42px
			line-height: 52px
		+media-breakpoint-down(xs)
			font-size: 32px
			line-height: 36px
		&:before
			content: ''
			position: absolute
			left: 0
			border-bottom: 4px solid $accent
			bottom: -2px
			width: 132px
			+media-breakpoint-down(xs)
				bottom: -8px
				width: 75px
.gallery__content
	display: grid
	grid-column-gap: $gutter
	grid-row-gap: $gutter / 2
	grid-template-columns: repeat(2, 1fr)
	padding-top: 45px
	+media-breakpoint-down(md)
		grid-template-columns: 1fr
	.gallery__list
		display: grid
		grid-gap: $gutter
		grid-template-columns: repeat(2, 1fr)
		.gallery__item01
			grid-column: 1 / 3
		.gallery__item02
			grid-column: 1 / 2
		.gallery__item03
			grid-column: 2 / 3
		.gallery__item04
			grid-column: 1 / 2
		.gallery__item05
			grid-column: 2 / 3
		.gallery__item06
			grid-column: 1 / 3
		.gallery__item
			border-radius: 10px
			.gallery__link
				display: block
				overflow: hidden
				position: relative
				&:before
					content: " "
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					background: rgba(0, 0, 0, 0.3)
					border-radius: 10px
					opacity: 0
					transition: .3s
				&:hover:before
					opacity: 1
					transition: .3s
				.gallery__img
					border-radius: 10px
				.gallery__title
					position: absolute
					bottom: 0
					left: 0
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 14px
					line-height: 17px
					color: #fff
					padding: 20px
					opacity: 0
					transition: .3s
				&:hover
					.gallery__title
						opacity: 1
						transition: .3s
.gallery__wrap
	text-align: center
	margin: 40px auto 0
	.gallery__more
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		font-size: 18px
		line-height: 22px
		color: $accent
		text-decoration: none
		position: relative
		&:before
			content: url(../img/_src/arrbottom.png)
			position: absolute
			transform: translate(-50%)
			left: 50%
			bottom: -15px
			transition: .3s
		&:hover
			&:before
				bottom: -20px
				transition: .3s
.documents__home
	background-image: url(../img/_src/Documentsbg.png)
	background-size: cover
	background-position: left 2% center
	background-repeat: no-repeat
	margin-top: 35px
	padding-bottom: 50px
	+media-breakpoint-down(lg)
		background-position: left 30% center

.documents__page
	background-image: url(../img/_src/Documentspagebg.png)
	background-size: cover
	background-position: left center
	background-repeat: no-repeat
	padding-bottom: 50px
	+media-breakpoint-down(md)
		background-position: top left

	.container
		margin-top: 96px
		+media-breakpoint-down(sm)
			margin-top: 66px

.documents
	.documents__list
		padding: 50px 0 0
		margin-bottom: 0
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-template-rows: repeat(3, 1fr)
		+media-breakpoint-down(md)
			grid-template-columns: repeat(2, 1fr)
		+media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)
		.documents__item
			padding: 50px 20px
			text-align: center
			align-self: center
			+media-breakpoint-down(sm)
				padding: 20px 20px
			.documents__content
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 24px
				line-height: 29px
				text-decoration: none
				color: $text
			&:nth-child(2)
				position: relative
				&:before
					content: url(../img/_src/documentbordergorizont.png)
					position: absolute
					right: -100%
					bottom: -30px
					+media-breakpoint-down(lg)
						content: url(../img/_src/documentbordergorizont2.png)
						+media-breakpoint-down(md)
							display: none
			&:nth-child(5)
				position: relative
				&:before
					content: url(../img/_src/documentbordergorizont.png)
					position: absolute
					right: -100%
					bottom: -40px
					+media-breakpoint-down(lg)
						content: url(../img/_src/documentbordergorizont2.png)
						+media-breakpoint-down(md)
							display: none
			&:nth-child(4)
				position: relative
				&:before
					content: url(../img/_src/documentbordervertical.png)
					position: absolute
					right: 0
					bottom: -160%
					+media-breakpoint-down(md)
						display: none
			&:nth-child(5)
				position: relative
				&:after
					content: url(../img/_src/documentbordervertical.png)
					position: absolute
					right: 0
					bottom: -160%
					+media-breakpoint-down(md)
						display: none
.aboutus
	background-image: url(../img/_src/bgaboutus.png)
	background-size: cover
	background-position: left bottom 0%
	background-repeat: no-repeat
	margin-top: 96px
	+media-breakpoint-down(sm)
		margin-top: 50px

.contacts
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: left 25% bottom
	background-repeat: no-repeat
	margin-top: 96px
	overflow: hidden
	+media-breakpoint-down(sm)
		margin-top: 50px
	.contacts__content
		padding-top: 60px
		display: grid
		grid-template-columns: repeat(2, 1fr)
		align-items: flex-start
		grid-gap: $gutter
		+media-breakpoint-down(lg)
			grid-template-columns: 1fr
		.contacts__left
			display: flex
			align-items: center
			flex-direction: column
			text-align: center
			padding-bottom: 65px
			.contacts__subtitle
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 22px
				line-height: 29px
				color: $text
				max-width: 450px
			.contacts__list
				.contacts__item
					display: flex
					align-items: center
					justify-content: space-between
					flex-direction: column
					padding-top: 35px
					.contacts__description
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 22px
						line-height: 29px
						color: $text
						margin-bottom: 10px
					.contacts__info
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 24px
						line-height: 29px
						text-decoration: none
						color: $accent
						word-break: break-word
						word-wrap: break-word
						+media-breakpoint-down(sm)
							font-size: 16px
					.contacts__phone
						padding-top: 35px
		.contacts__right
			position: relative
			display: flex
			align-items: center
			justify-content: flex-start
			text-align: center
			+media-breakpoint-down(lg)
				padding-bottom: 25px
				justify-content: center
			img
				width: inherit
				position: absolute
				top: 10px
				border-radius: 90px 0px 0px 90px
				box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
				+media-breakpoint-down(lg)
					border-radius: 90px
					position: relative
					width: 100%
.history
	background-image: url(../img/_src/historybg.png)
	background-size: contain
	background-position: top
	background-repeat: space
	margin-top: 96px
	+media-breakpoint-down(sm)
		margin-top: 50px
	.content
		padding-bottom: 30px
	.container
		.borderbottom
			padding-top: 50px
			padding-bottom: 50px
			position: relative
			+media-breakpoint-down(xs)
				padding-top: 15px
				padding-bottom: 15px
			&:before
				content: url(../img/_src/documentbordergorizont.png)
				position: absolute
				right: 0
				bottom: 0
			+media-breakpoint-down(lg)
				&:before
					content: url(../img/_src/documentbordergorizontMobile.png)
					right: 20%
			+media-breakpoint-down(md)
				&:before
					content: url(../img/_src/documentbordergorizontMobile.png)
					right: 10%
			+media-breakpoint-down(xs)
				&:before
					display: none
			&:last-child
				&:before
					content: url(../img/_src/documentbordergorizont.png)
					position: absolute
					right: 0
					bottom: 30px
			+media-breakpoint-down(md)
				&:before
					display: none

		.row
			align-items: start
			.history__text
				padding: 0
			.history__left
				text-align: center
				padding-right: 40px
				+media-breakpoint-down(lg)
					padding-right: 20px
				+media-breakpoint-down(md)
					padding-right: 10px
				.history__group
					padding-top: 50px
					+media-breakpoint-down(md)
						margin-bottom: 30px
					img
						box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
						border-radius: 10px
						margin-bottom: 20px
						max-width: 400px
				.history__date
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					span
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 64px
						line-height: 78px
						color: $accent
			.history__right
				padding-left: 10px
				+media-breakpoint-down(lg)
					padding-left: 20px
				+media-breakpoint-down(md)
					padding-left: 10px

.eventspage
	background-image: url(../img/_src/historybg.png)
	background-size: contain
	background-position: left
	background-repeat: repeat-y
	margin-top: 96px
	+media-breakpoint-down(sm)
		margin-top: 50px
	.container
		.eventspage__content
			align-items: start
			padding-bottom: 50px
			+media-breakpoint-down(lg)
				padding-bottom: 25px
			.eventspage__left
				padding: 0 10px 0 0
				+media-breakpoint-down(lg)
					padding-bottom: 50px
				p
					text-indent: 20px
				.eventspage__date
					font-weight: 700
					font-size: 20px
					line-height: 24px
					color: rgba(0, 0, 0, 0.2)
			.eventspage__right
				.eventspage__img
					object-fit: cover
					box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
					border-radius: 20px 0px 0px 20px
					margin-bottom: 50px
					+media-breakpoint-down(lg)
						border-radius: 20px
.guide
	background-image: url(../img/_src/historybg.png)
	background-size: contain
	background-position: top left
	background-repeat: no-repeat
	padding-top: 96px
	padding-bottom: 40px
	+media-breakpoint-down(sm)
		padding-top: 50px
	.guide__content
		display: grid
		grid-gap: $gutter
		grid-template-columns: repeat(2, 1fr)
		padding-top: 60px
		+media-breakpoint-down(lg)
			grid-template-columns: 1fr
			grid-gap: $gutter / 4
		.guide__list
			display: grid
			grid-row-gap: $gutter
			.guide__item
				align-self: start
				background: #fff
				box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
				border-radius: 20px
				padding: 20px 30px
				text-align: center
				+media-breakpoint-down(xs)
					padding: 20px 5px
				.guide__subtitle
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 24px
					line-height: 29px
					color: $accent
				.guide__sublist
					padding-top: 15px
					.guide__subitem
						.guide__position
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 24px
							line-height: 29px
							color: $text
						.guide__name
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 24px
							line-height: 29px
							color: $text
				&.item01
					margin-bottom: -80px
					+media-breakpoint-down(lg)
						margin-bottom: 0px
				&.item03
					margin-bottom: 70px
					+media-breakpoint-down(lg)
						margin-bottom: 0px

.applicationform
	background-image: url(../img/_src/evntshomebg.png)
	background-size: contain
	background-position: center
	background-repeat: no-repeat
	margin-top: 96px
	padding-bottom: 50px
	+media-breakpoint-down(sm)
		margin-top: 50px
	.container
		#form__application
			background: #FFF
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
			border-radius: 20px
			margin-top: 60px
			.row
				> div
					padding: 45px
					+media-breakpoint-down(sm)
						padding: 45px 15px
					.applicationform__group
						display: flex
						flex-direction: column
						justify-content: flex-start
						margin-bottom: 10px
						.applicationform__label
							font-family: 'Open Sans', sans-serif
							font-weight: 400
							font-size: 14px
							line-height: 19px
							color: $text
						.applicationform__control,
						.applicationform__select
							font-family: 'Open Sans', sans-serif
							font-weight: 400
							font-size: 14px
							line-height: 19px
							color: rgba(0, 0, 0, 0.5)
							padding: 10px
							border: 1px solid #C4C4C4
							border-radius: 3px
							&::placeholder
								color: rgba(0, 0, 0, 0.5)
					.form-check
						position: relative
						margin-top: 40px
						margin-bottom: 20px
						.form__check-label
							padding-left: 20px
						.form__check-input
							background: #F0F0F5
							border: 2px solid $accent
						input[type="checkbox"]
							display: inline-block
							width: auto
							margin-top: 5px
							opacity: 0
						.form__check-input + label:before
							position: absolute
							left: 0
							bottom: 14px
							height: 20px
							width: 20px
							content: ""
							background: #f0f0f5
							display: inline-block
							vertical-align: middle
							border: 2px solid #0076C0
						.form__check-input:checked + label:before
							background: $accent
					.bottom-box
						display: flex
						justify-content: space-between
						align-items: center
						+media-breakpoint-down(lg)
							flex-direction: column
							align-items: center
						button.form__btn
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 18px
							line-height: 16px
							color: #fff
							background: $accent
							box-shadow: 0px 4px 28px #43ACE1
							border-radius: 90px
							border: none
							padding: 22px 42px
							+media-breakpoint-down(lg)
								margin-bottom: 20px
						img
							object-fit: cover
							width: inherit
				.applicationform__left
					+media-breakpoint-down(lg)
						margin-bottom: 62px
					+media-breakpoint-down(md)
						margin-bottom: 0
						padding-bottom: 0
				.applicationform__right
					+media-breakpoint-down(md)
						padding-top: 0
						padding-bottom: 30px

.calendarpage
	padding-top: 96px
	padding-bottom: 50px
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat
	+media-breakpoint-down(sm)
		padding-top: 50px
	.container
		padding: 0px
		.calendarpage__nav
			margin: 100px 0 50px
			+media-breakpoint-down(sm)
				margin: 50px 0 25px
		.calendar__title
			font-family: 'Montserrat', sans-serif
			font-weight: 500
			font-size: 36px
			line-height: 36px
			color: #000
			+media-breakpoint-down(sm)
				margin-bottom: 20px
			+media-breakpoint-down(xs)
				font-size: 32px
				line-height: 36px
		.calendar__list
			display: flex
			justify-content: space-between
			align-items: center
			background: $accent
			border-radius: 10px
			margin: 0
			+media-breakpoint-down(lg)
				margin-bottom: 20px
			.calendar__item
				padding: 10px 40px
				+media-breakpoint-down(sm)
					padding: 10px 20px
				+media-breakpoint-down(xs)
					padding: 10px 5px
				.calendar__link
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 14px
					line-height: 17px
					color: #fff
					background: $accent
					border: none
					padding: 5px 5px
					text-decoration: none
					.calendar__img
						width: inherit
				&:nth-child(even)
					position: relative
					&:before
						content: ''
						position: absolute
						right: 0
						border-right: 2px solid #fff
						bottom: 6px
						height: 32px
					&:after
						content: ''
						position: absolute
						left: 0
						border-right: 2px solid #fff
						bottom: 6px
						height: 32px
				&:last-child
					&:before
						content: ''
						border-right: none
		.calendar
			width: 100%
			height: auto
			background-color: #fff
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
			border-radius: 20px
			.calendar__date
				align-items: center
				align-self: center
				text-align: center
				display: grid
				grid-template-columns: repeat(7, 1fr)
				div
					display: flex
					justify-content: center
					align-items: center
				.calendar__day
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 48px
					line-height: 56px
					color: #000
					padding: 19px 0
					border-right: 2px solid $accent
					border-bottom: 2px solid $accent
					+media-breakpoint-down(lg)
						font-size: 36px
						line-height: 48px
					+media-breakpoint-down(xs)
						font-size: 24px
						line-height: 32px
				.brnone
					border-right: none
				.calendar__number
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 96px
					line-height: 149px
					color: rgba(0, 0, 0, 0.3)
					border-bottom: 2px solid $accent
					border-right: 2px solid $accent
					+media-breakpoint-down(lg)
						font-size: 52px
						line-height: 72px
					+media-breakpoint-down(sm)
						font-size: 42px
						line-height: 54px
					+media-breakpoint-down(xs)
						font-size: 28px
						line-height: 42px
				.brnone
					border-right: none
				.bbnone
					border-bottom: none

footer
	background-color: $accent
	padding-top: 50px
	padding-bottom: 112px
	+media-breakpoint-down(lg)
		padding-bottom: 70px
	.partners
		.title
			color: #fff
			&:before
				bottom: -5px
				border-bottom: 4px solid #fff
				+media-breakpoint-down(xs)
					bottom: -8px
					width: 75px
		.partners__brand
			padding: 50px 20px 0
			+media-breakpoint-down(lg)
				justify-content: space-around
			.partners__list
				+media-breakpoint-down(lg)
					display: flex
					flex-wrap: wrap
					justify-content: space-around
					margin-bottom: 0
				.partners__item
					margin-bottom: 40px
					.partners__img
						border-radius: 10px
				&:nth-child(2)
					position: relative
					&:before
						content: url(../img/_src/bordergradient.png)
						position: absolute
						left: -6%
						top: 0px
						+media-breakpoint-down(lg)
							display: none
					&:after
						content: url(../img/_src/bordergradient.png)
						position: absolute
						right: -6%
						top: 0px
						+media-breakpoint-down(lg)
							display: none
	.footer__nav
		.footer__list
			display: flex
			align-items: center
			justify-content: space-between
			padding: 50px 0 30px
			+media-breakpoint-down(lg)
				flex-wrap: wrap
			.footer__item
				.footer__link
					font-family: 'Montserrat', sans-serif
					font-weight: 500
					font-size: 18px
					line-height: 22px
					text-decoration: none
					color: #fff
					padding: 0 15px
	.footer__bottom
		display: flex
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(lg)
			flex-wrap: wrap
		+media-breakpoint-down(md)
			justify-content: center
		.footer__logo
			+media-breakpoint-down(lg)
				flex-basis: 50%
			+media-breakpoint-down(md)
				margin-bottom: 20px
			img
				width: inherit
		.footer__title
			max-width: 350px
			text-align: center
			.footer__text
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 24px
				line-height: 29px
				color: #fff
		.footer__list
			display: flex
			align-items: center
			justify-content: space-between
			+media-breakpoint-down(lg)
				margin: 30px auto 0
			.footer__item
				margin-left: 40px
				+media-breakpoint-down(lg)
					margin: 0 20px
				.footer__link
					.footer__img
						object-fit: cover

.example-grid
	display: grid
	grid-gap: $gutter
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	> div:first-child
	grid-area: left
	> div:last-child
	grid-area: right
	+media-breakpoint-down(xs)
		display: block
		> div
		padding: $gutter/2 0
