@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

ul
	padding: 0

li
	list-style: none

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	color: $text

.container
	max-width: 1196px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto
.content
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	font-size: 18px
	line-height: 22px
	padding-top: 60px
	padding-bottom: 50px
.row
	display: flex
	align-items: flex-end
	justify-content: space-between
	margin: 0
	.title
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		font-size: 48px
		line-height: 59px
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			border-bottom: 4px solid $accent
			bottom: 0
			width: 132px
	.link
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		font-size: 18px
		line-height: 22px
		color: $accent
		padding-bottom: 15px
header
	.container
		.header__top
			display: flex
			justify-content: space-between
			align-items: center
			padding: 30px 0 14px
			.header__logo
			.header__languages
				position: relative								
				.header__list
					display: flex
					justify-content: space-between
					align-items: center
					background: $accent
					border-radius: 10px
					margin: 0
					.header__item
						padding: 8px 0
						.header__btn
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 14px
							line-height: 17px
							color: #fff
							background: $accent
							border: none
							padding: 5px 38px
						&:nth-child(even)
							position: relative
							&:before
								content: ''
								position: absolute
								right: 0
								border-right: 2px solid #fff
								bottom: 6px
								height: 32px
							&:after
								content: ''
								position: absolute
								left: 0
								border-right: 2px solid #fff
								bottom: 6px
								height: 32px					
				.search__formwrap
					position: absolute
					padding: 5px 15px 5px 15px
					bottom: -40px
					left: 0
					box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
					border-radius: 10px
					display: none
					.search__container
						width: 100%
						.search__form
							.search__input
								font-family: 'Montserrat', sans-serif
								font-weight: 400
								font-size: 14px
								line-height: 19px
								color: rgba(0, 0, 0, 0.5)
								padding: 6px
								border-radius: 3px
								border: 1px solid #c4c4c4
							.search__closeform
								font-family: 'Montserrat', sans-serif
								font-weight: 700
								font-size: 14px
								line-height: 17px
								padding: 5px 10px
								border-radius: 10px
								background: $accent
								color: #fff
								cursor: pointer
		.header__nav
			.innerpages
				border-bottom: 4px solid $accent
			.header__list
				display: flex
				justify-content: space-between
				align-items: center
				.header__item
					margin: 20px 0
					.header__link
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 14px
						line-height: 17px
						text-align: center
						color: $text
						text-decoration: none
						padding: 0 20px
						transition: .3s
						&:hover
							color: $accent
							transition: .3s
.carousel__baner
	.carousel
		.carousel-indicators
			margin: 0 0 20px
			left: 7.5%
			right: auto
			bottom: 0
			top: auto
			li 
				width: 25px
				height: 25px
				margin: 5px
				cursor: pointer
				background-color: #fff
				border: 5px solid #fff
				border-radius: 25px
				opacity: 1
			li.active
				background-color: $accent
		.carousel-inner
			.carousel-item
				.carousel-img
					width: 100%
					object-fit: cover
				.container
					position: relative
					.carousel-caption
						max-width: 500px
						background: #fff
						border-radius: 20px
						box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
						text-align: left
						padding: 25px
						left: auto
						right: 0
						bottom: 20px
						.carousel-title
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 30px
							line-height: 37px
							color: $text
						.carousel-text
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 18px
							line-height: 22px
							color: $text
						.carousel-link
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 18px
							line-height: 22px
							color: $accent
.newshome
	padding: 100px 0 42px

.newspage
	padding: 86px 0 0
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat
.news
	margin: 50px 0 0
	.news__list
		display: grid
		grid-gap: $gutter
		grid-template-columns: 1fr 1fr 1fr
		grid-template-rows: 2fr
		.news__item
			.news__link
				position: relative
				display: block
				overflow: hidden					
				.news__text
					position: absolute
					bottom: 0
					left: 0 
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 16px
					line-height: 20px
					color: #fff
					padding: 12px 15px
	.news__pagination
		display: flex
		align-items: center
		justify-content: center
		padding-top: 15px
		padding-bottom: 30px
		margin-bottom: 0
		.news__item
			font-family: 'Montserrat', sans-serif
			font-weight: 700
			font-size: 14px
			line-height: 17px
			color: $text
			padding: 0 15px
			&.active
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 14px
				line-height: 17px
				color: $accent

.eventshome
	padding: 100px 0 135px
	background-image: url(../img/_src/evntshomebg.png)
	background-size: cover
	background-position: left 10% center
	background-repeat: no-repeat

.events
	.events__textlist
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 50px
		margin-bottom: 50px	
		.events__textitem	
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
			border-radius: 10px			
			background-color: #fff
			.events__textlink				
				position: relative
				overflow: hidden
				display: flex
				justify-content: center
				align-items: center	
				min-height: 160px
				min-width: 284px
				max-width: 284px
				text-decoration: none				
				.events__textcontent
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 18px
					line-height: 22px
					text-align: center
					color: $text
	.events__list
		display: flex
		justify-content: space-between
		align-items: center
		.events__item					
			.events__link
				overflow: hidden
				position: relative
				display: flex
				justify-content: center
				align-items: center					
				.events__text
					position: absolute
					padding: 20px
					bottom: 0
					left: 0
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 14px
					line-height: 17px
					text-align: center
					color: #fff
.infoplatform
	background-image: url(../img/_src/infoplace.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	min-height: 550px	
	position: relative
	.container				
		.infoplatform__caption
			max-width: 500px
			position: absolute
			bottom: 20px
			right: 122px
			background: #fff
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25)
			border-radius: 20px
			padding: 25px
			.infoplatform__title
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 36px
				line-height: 44px
			.infoplatform__text
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 18px
				line-height: 22px
			.infoplatform__link	
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 18px
				line-height: 22px	
				color: $accent

.gallery
	background-image: url(../img/_src/galleryhomebg.png)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding: 100px 0 145px

.container			
	.title
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		font-size: 48px
		line-height: 59px
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			border-bottom: 4px solid $accent
			bottom: -2px
			width: 132px

.gallery__list	
	display: grid
	grid-gap: $gutter
	grid-template-columns: 2fr 2fr
	grid-template-rows: 2fr
	padding: 50px 0 0
	.gallery__item01
		grid-column-start: 1	
		grid-column-end: 3
		// grid-row-start: 1
		// grid-row-end: 2
	.gallery__item02
		grid-column-start: 1	
		grid-column-end: 2
		// grid-row-start: 2
		// grid-row-end: 3
	.gallery__item03
		grid-column-start: 2	
		grid-column-end: 3
		// grid-row-start: 2
		// grid-row-end: 3
	.gallery__item04
		grid-column-start: 3	
		grid-column-end: 3
	.gallery__item05
		grid-column-start: 3	
		grid-column-end: 3
	.gallery__item06
		grid-column-start: 3	
		grid-column-end: 4
	.gallery__item		
		border-radius: 10px	
		.gallery__link
			display: block	
			overflow: hidden
			position: relative
			.gallery__img					
				background: rgba(0, 0, 0, 0.3)		
				border-radius: 10px			
			.gallery__title
				position: absolute
				bottom: 0
				left: 0 
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 14px
				line-height: 17px
				color: #fff
				padding: 20px
				opacity: 0
				transition: .3s
			&:hover
				.gallery__title
					opacity: 1
					transition: .3s
.gallery__wrap
	text-align: center
	margin: 0 auto
	.gallery__more
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		font-size: 18px
		line-height: 22px
		color: $accent
		text-decoration: none
		position: relative
		&:before
			content: url(../img/_src/arrbottom.png)
			position: absolute
			transform: translate(-50%)
			left: 50%
			bottom: -15px
			transition: .3s
		&:hover
			&:before
				bottom: -20px
				transition: .3s
.documents__home
	background-image: url(../img/_src/Documentsbg.png)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding-bottom: 50px	

.documents__page
	background-image: url(../img/_src/evntshomebg.png)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding-bottom: 50px
	.container	
		margin-top: 96px	

.documents	
	.documents__list
		padding: 50px 0 0
		margin-bottom: 0
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-template-rows: 1fr 1fr 1fr
		.documents__item
			padding: 50px 20px
			text-align: center
			align-self: center
			.documents__content	
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 24px
				line-height: 29px
				text-decoration: none
				color: $text
			&:nth-child(2)
					position: relative
					&:before
						content: url(../img/_src/documentbordergorizont.png)
						position: absolute
						right: -100%
						bottom: -30px
			&:nth-child(5)
					position: relative
					&:before
						content: url(../img/_src/documentbordergorizont.png)
						position: absolute
						right: -100%
						bottom: -40px
			&:nth-child(4)
					position: relative
					&:before
						content: url(../img/_src/documentbordervertical.png)
						position: absolute
						right: 0
						bottom: -160%
			&:nth-child(5)
					position: relative
					&:after
						content: url(../img/_src/documentbordervertical.png)
						position: absolute
						right: 0
						bottom: -160%
.aboutus
	background-image: url(../img/_src/bgaboutus.png)
	background-size: cover
	background-position: bottom left
	background-repeat: no-repeat

.contacts
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat	
	padding-top: 84px
	.contacts__content
		padding-top: 60px
		position: relative
		.contacts__left
			display: flex
			align-items: center
			flex-direction: column
			max-width: 540px
			margin-right: auto
			text-align: center	
			padding-bottom: 65px		
			.contacts__subtitle
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 22px
				line-height: 29px
				color: $text
				max-width: 450px
			.contacts__list
				.contacts__item
					display: flex
					align-items: center
					justify-content: space-between
					flex-direction: column
					padding-top: 35px
					.contacts__description
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 22px
						line-height: 29px
						color: $text
						margin-bottom: 10px
					.contacts__info
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 24px
						line-height: 29px
						text-decoration: none
						color: $accent
					.contacts__phone
						padding-top: 35px		
		img
			position: absolute
			transform: translate(-50%)
			left: 81%
			bottom: 11%
			border-radius: 90px 0px 0px 90px
			box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
.history
	background-image: url(../img/_src/historybg.png)
	background-size: contain
	background-position: top
	background-repeat: space
	margin-top: 100px
	.container
		.borderbottom
			padding-top: 50px
			padding-bottom: 50px
			position: relative
			&:before
				content: url(../img/_src/documentbordergorizont.png)
				position: absolute
				right: 0
				bottom: 0
		.row
			align-items: start
			.history__text
				padding: 0
			.history__left
				text-align: center
				.history__group
					padding-top: 50px
					img
						box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
						border-radius: 10px
						margin-bottom: 20px
				.history__date
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center					
					span
						font-family: 'Montserrat', sans-serif
						font-weight: 700
						font-size: 64px
						line-height: 78px
						color: $accent
			.history__right
.guide
	background-image: url(../img/_src/bgcontacts.png)
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat	
	padding-top: 86px
	padding-bottom: 50px
	.guide__content
		padding-top: 60px
		.guide__list
			display: grid
			grid-gap: $gutter
			grid-template-columns: repeat(2, 1fr)   
			grid-template-rows: auto 
			.guide__item
				align-self: start
				background: #fff
				box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.5)
				border-radius: 20px
				padding: 20px 30px
				text-align: center
				// &:nth-child(3) 
				// 	grid-row-start: 2
  				// 	grid-row-end: 3
				// 	background: red
				.guide__subtitle
					font-family: 'Montserrat', sans-serif
					font-weight: 700
					font-size: 24px
					line-height: 29px
					color: $accent					
				.guide__sublist
					padding-top: 15px
					.guide__subitem
						.guide__position
							font-family: 'Montserrat', sans-serif
							font-weight: 500
							font-size: 24px
							line-height: 29px
							color: $text
						.guide__name
							font-family: 'Montserrat', sans-serif
							font-weight: 700
							font-size: 24px
							line-height: 29px
							color: $text

footer
	background-color: $accent
	padding-top: 50px
	padding-bottom: 112px
	.partners
		.title
			color: #fff
		.partners__brand
			padding: 50px 20px 0
			.partners__list
				.partners__item
					margin-bottom: 40px					
					.partners__img
						border-radius: 10px
						height: 65px
				&:nth-child(2)
					position: relative
					&:before
						content: url(../img/_src/bordergradient.png)
						position: absolute
						left: -25px
						top: 0px
					&:after
						content: url(../img/_src/bordergradient.png)
						position: absolute
						right: -25px
						top: 0px
	.footer__nav
		.footer__list
			display: flex
			align-items: center
			justify-content: space-between
			padding: 50px 0 30px
			.footer__item				
				.footer__link
					font-family: 'Montserrat', sans-serif
					font-weight: 500
					font-size: 18px
					line-height: 22px
					text-decoration: none
					color: #fff
					padding: 0 15px
	.footer__bottom
		display: flex
		align-items: center
		justify-content: space-between
		.footer__logo
		.footer__title			
			max-width: 350px
			text-align: center
			.footer__text
				font-family: 'Montserrat', sans-serif
				font-weight: 500
				font-size: 24px
				line-height: 29px
				color: #fff
		.footer__list
			display: flex
			align-items: center
			justify-content: space-between
			.footer__item
				margin-left: 40px
				.footer__link
					.footer__img
						object-fit: cover
						
.example-grid
	display: grid
	grid-gap: $gutter
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	> div:first-child
		grid-area: left
	> div:last-child
		grid-area: right
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter/2 0



